.uni-valid {
  width: 300px;
  display: grid;
  padding: 1rem;

}
.uni-valid__input{
  margin-bottom: .5rem;
}
.uni-valid__meta{
  padding: .5rem;
  font-size: .8rem;
  border: 1px solid #d9d9d9;

}

.valid {
  color: rgba(40, 128, 40, 0.877);
}

.invalid {
  color:rgb(231, 56, 56);  
}
