.as-input-wrapper {
  display: block;
  font-family: sans-serif;
  margin-bottom: 2.5rem;
}

.as-input-wrapper__label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.as-input-wrapper__input input,
.as-input-wrapper__input textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 36px;
  outline: none;
  border: 1px solid #dedede;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #2c2c2c;
  margin-bottom: 0.25rem;
  font-size: 16px;
}

.as-input-wrapper__hint {
  display: block;
  font-size: 14px;
  color: #868686;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.as-input-wrapper__error {
  display: block;
  color: #c81919;
  font-size: 14px;
  font-weight: bold;
}

/* VARIANT: DISABLED */

.as-input-wrapper--disabled,
.as-input-wrapper--disabled .as-input-wrapper__input input {
  cursor: not-allowed;
}

.as-input-wrapper--disabled .as-input-wrapper__input input,
.as-input-wrapper--disabled .as-input-wrapper__label {
  color: #868686;
}

/* VARIANT: REQUIRED */

.as-input-wrapper--required .as-input-wrapper__label:after {
  content: '*';
  padding-left: 0.125rem;
}

.as-input-wrapper--has-error .as-input-wrapper__label {
  color: #c81919;
}

/* VARIANT: HAS ERROR */

.as-input-wrapper--has-error .as-input-wrapper__input input,
.as-input-wrapper--has-error .as-input-wrapper__input textarea {
  border-color: #c81919;
}
